## Even Odd without if-else

In [57]:
def eo_wi(x):
    l = ["Even", "Odd"]
    return l[x%2]

In [60]:
n = input()

12

In [61]:
n = int(n)
eo_wi(n)

'Even'

## For Loop

In [62]:
for i in range(6):
    print("*"*i)

*
**
***
****
*****

## in and not in

In [63]:
l = [1, 2, 3, 4]

In [64]:
3 in l

True

In [65]:
4 not in l

False

## Logical

In [66]:
4>2

True

In [67]:
1<-1

False

In [68]:
4<=4

True

In [69]:
32>=32

True

## Even Odd using if

In [72]:
n = input()

32

In [73]:
n = int(n)

In [74]:
if n%2==0:
    print("Even")
else:
    print("Odd")

Even

## For and if-odd even

In [75]:
for i in range(10):
    if i%2==0:
        print(i, "is Even")
    else:
        print(i, "is Odd")

0 is Even
1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd

## Tuples

In [76]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

**Note**: Unlike Python lists, tuples does not have methods such as append(), remove(), extend(), insert() and pop() due to its immutable nature.

In [77]:
tup1

('physics', 'chemistry', 1997, 2000)

In [78]:
tup2

(1, 2, 3, 4, 5)

In [79]:
tup3

('a', 'b', 'c', 'd')

## Dictionary

In [80]:
my_dict = {}

In [81]:
# Age and name
my_dict = {17: 'Shubham', 21: 'Sanket'}
my_dict

{17: 'Shubham', 21: 'Sanket'}

In [82]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
my_dict

{1: [2, 4, 3], 'name': 'John'}

In [84]:
# dictionary with age, name and college
my_dict = {'name': 'Prabodh', 'age': 21, 'college': 'SITS'}
my_dict

{'age': 21, 'college': 'SITS', 'name': 'Prabodh'}

## Set

In [85]:
set1 = set(["a", "b","c"])
set2 = set(["c", "d", "e"])

In [86]:
set1

{'a', 'b', 'c'}

In [87]:
set2

{'c', 'd', 'e'}

In [88]:
print("Union: ", set1 | set2)

Union:  {'b', 'd', 'a', 'c', 'e'}

In [89]:
print("Intersection: ", set1 & set2)

Intersection:  {'c'}