In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("example.csv")
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [3]:
d={"a":[0,4,8,12], "b":[1,5,9,13], "c":[2,6,10,14], "d":[3,7,11,15]}
pd.DataFrame(d)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
from numpy.random import randn
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns="W X Y Z".split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509