In [2]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv("example.csv")
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
d={"a":[0,4,8,12], "b":[1,5,9,13], "c":[2,6,10,14], "d":[3,7,11,15]}
pd.DataFrame(d)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
from numpy.random import randn
np.random.seed(101)

In [18]:
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns="W X Y Z".split())
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765